USE [master]
GO
/****** Object:  Database [Hiring]    Script Date: 7/6/2024 12:12:29 ******/
CREATE DATABASE [Hiring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hiring', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hiring.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hiring_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hiring_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hiring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hiring]
GO
/****** Object:  User [alumno]    Script Date: 7/6/2024 12:12:29 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Certificacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[empresa_emisora] [varchar](max) NOT NULL,
	[id_credencial] [int] NOT NULL,
	[url_credencial] [varchar](max) NULL,
 CONSTRAINT [PK_Certificacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discapacidad]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discapacidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NULL,
 CONSTRAINT [PK_Discapacidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](max) NOT NULL,
	[nombre_institucion] [varchar](max) NOT NULL,
	[disciplina_academica] [varchar](max) NULL,
	[actividades_grupo] [varchar](max) NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Educacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorito]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorito](
	[id] [int] NOT NULL,
	[id_info_empleado] [int] NOT NULL,
 CONSTRAINT [PK_Favorito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidad]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag] [varchar](max) NULL,
 CONSTRAINT [PK_Habilidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Certificacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Certificacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_expedicion] [date] NOT NULL,
	[fecha_caducidad] [date] NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_certificacion] [int] NOT NULL,
	[id_usuario_multimedia] [int] NULL,
 CONSTRAINT [PK_Informacion_Empleado_Certificacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Educacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Educacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_expedicion] [date] NOT NULL,
	[fecha_caducidad] [date] NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_educacion] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Educacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Habilidad]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Habilidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_habilidad] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Habilidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Idioma]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Idioma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_idioma] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Idioma] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Necesidad]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Necesidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_necesidad] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Necesidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Empleado_Organizacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Empleado_Organizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_finalizacion] [date] NULL,
	[cargo] [varchar](max) NOT NULL,
	[miembro_activo] [bit] NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_organizacion] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Empleado_Organizacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Personal_Empleado]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Personal_Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_apellido] [varchar](max) NOT NULL,
	[mail] [varchar](max) NULL,
	[telefono] [varchar](50) NULL,
	[acerca_de_mi] [varchar](max) NULL,
	[profesion_actual] [varchar](max) NULL,
	[estilo] [varchar](max) NULL,
	[ubicacion] [varchar](max) NULL,
	[id_multimedia] [nchar](10) NULL,
	[sitio_web] [varchar](max) NULL,
	[foto_perfil] [varchar](max) NULL,
	[encabezado] [varchar](max) NULL,
	[id_discapacidad] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Personal_Empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_Personal_Reclutador]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_Personal_Reclutador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_apellido] [varchar](max) NOT NULL,
	[mail] [varchar](max) NULL,
	[telefono] [varchar](50) NULL,
	[tipo_empresa] [varchar](max) NOT NULL,
	[ubicacion_empresa] [varchar](max) NOT NULL,
	[sitio_web] [varchar](max) NULL,
	[foto_perfil] [varchar](max) NOT NULL,
	[id_favorito] [int] NOT NULL,
 CONSTRAINT [PK_Informacion_Personal_Reclutador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multimedia]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multimedia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Multimedia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Necesidad]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Necesidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Necesidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizacion]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_organizacion] [varchar](max) NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_Organizacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [varchar](320) NOT NULL,
	[Contraseña] [varchar](15) NOT NULL,
	[empleado] [bit] NOT NULL,
	[reclutador] [bit] NULL,
	[id_informacion_usuario] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Multimedia]    Script Date: 7/6/2024 12:12:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Multimedia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_info_empleado] [int] NOT NULL,
	[id_multimedia] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Multimedia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Discapacidad] ON 

INSERT [dbo].[Discapacidad] ([id], [nombre]) VALUES (1, N'ninguna')
INSERT [dbo].[Discapacidad] ([id], [nombre]) VALUES (2, N'disminucion visua')
INSERT [dbo].[Discapacidad] ([id], [nombre]) VALUES (3, N'ceguera')
SET IDENTITY_INSERT [dbo].[Discapacidad] OFF
GO
INSERT [dbo].[Favorito] ([id], [id_info_empleado]) VALUES (1, 1)
INSERT [dbo].[Favorito] ([id], [id_info_empleado]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Informacion_Personal_Empleado] ON 

SET IDENTITY_INSERT [dbo].[Informacion_Personal_Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Informacion_Personal_Reclutador] ON 

INSERT [dbo].[Informacion_Personal_Reclutador] ([id], [nombre_apellido], [mail], [telefono], [tipo_empresa], [ubicacion_empresa], [sitio_web], [foto_perfil], [id_favorito]) VALUES (2, N'Antonia Sofia Salomona', N'Ansalomona@hotmail.com', N'+54 911 4543 1231', N'Peluquería', N'Rosario, Santa Fé', N'antonitasalomonita.com', N'https://media.licdn.com/dms/image/C4E03AQGoNd4Ttufr-w/profile-displayphoto-shrink_200_200/0/1598468098163?e=2147483647&v=beta&t=hGuyMVKB2LIGlV5GC6kxKuUS5umSs_fN-XETFwAeoSg', 1)
SET IDENTITY_INSERT [dbo].[Informacion_Personal_Reclutador] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [empleado], [reclutador], [id_informacion_usuario]) VALUES (1, N'yaesaroka@gmail.com', N'123645', 1, 0, NULL)
INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [empleado], [reclutador], [id_informacion_usuario]) VALUES (2, N'sarah_maqui@gmail.com', N'123645', 1, 0, NULL)
INSERT [dbo].[Usuario] ([id], [Mail], [Contraseña], [empleado], [reclutador], [id_informacion_usuario]) VALUES (3, N'yaesaroka@gmail.com', N'123645', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Favorito]  WITH CHECK ADD  CONSTRAINT [FK_Favorito_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Favorito] CHECK CONSTRAINT [FK_Favorito_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Certificacion_Certificacion] FOREIGN KEY([id_certificacion])
REFERENCES [dbo].[Certificacion] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Certificacion_Certificacion]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Certificacion_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Certificacion_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Certificacion_Usuario_Multimedia] FOREIGN KEY([id_usuario_multimedia])
REFERENCES [dbo].[Usuario_Multimedia] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Certificacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Certificacion_Usuario_Multimedia]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Educacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Educacion_Educacion] FOREIGN KEY([id_educacion])
REFERENCES [dbo].[Educacion] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Educacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Educacion_Educacion]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Educacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Educacion_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Educacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Educacion_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Habilidad_Habilidad] FOREIGN KEY([id_habilidad])
REFERENCES [dbo].[Habilidad] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad] CHECK CONSTRAINT [FK_Informacion_Empleado_Habilidad_Habilidad]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Habilidad_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Habilidad] CHECK CONSTRAINT [FK_Informacion_Empleado_Habilidad_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Idioma_Idioma] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[Idioma] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma] CHECK CONSTRAINT [FK_Informacion_Empleado_Idioma_Idioma]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Idioma_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Idioma] CHECK CONSTRAINT [FK_Informacion_Empleado_Idioma_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Organizacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Organizacion_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Organizacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Organizacion_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Informacion_Empleado_Organizacion]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Empleado_Organizacion_Organizacion] FOREIGN KEY([id_organizacion])
REFERENCES [dbo].[Organizacion] ([id])
GO
ALTER TABLE [dbo].[Informacion_Empleado_Organizacion] CHECK CONSTRAINT [FK_Informacion_Empleado_Organizacion_Organizacion]
GO
ALTER TABLE [dbo].[Informacion_Personal_Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Personal_Empleado_Discapacidad] FOREIGN KEY([id_discapacidad])
REFERENCES [dbo].[Discapacidad] ([id])
GO
ALTER TABLE [dbo].[Informacion_Personal_Empleado] CHECK CONSTRAINT [FK_Informacion_Personal_Empleado_Discapacidad]
GO
ALTER TABLE [dbo].[Informacion_Personal_Reclutador]  WITH CHECK ADD  CONSTRAINT [FK_Informacion_Personal_Reclutador_Favorito] FOREIGN KEY([id_favorito])
REFERENCES [dbo].[Favorito] ([id])
GO
ALTER TABLE [dbo].[Informacion_Personal_Reclutador] CHECK CONSTRAINT [FK_Informacion_Personal_Reclutador_Favorito]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Informacion_Personal_Empleado] FOREIGN KEY([id_informacion_usuario])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Informacion_Personal_Reclutador] FOREIGN KEY([id_informacion_usuario])
REFERENCES [dbo].[Informacion_Personal_Reclutador] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Informacion_Personal_Reclutador]
GO
ALTER TABLE [dbo].[Usuario_Multimedia]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Multimedia_Informacion_Personal_Empleado] FOREIGN KEY([id_info_empleado])
REFERENCES [dbo].[Informacion_Personal_Empleado] ([id])
GO
ALTER TABLE [dbo].[Usuario_Multimedia] CHECK CONSTRAINT [FK_Usuario_Multimedia_Informacion_Personal_Empleado]
GO
ALTER TABLE [dbo].[Usuario_Multimedia]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Multimedia_Multimedia] FOREIGN KEY([id_multimedia])
REFERENCES [dbo].[Multimedia] ([id])
GO
ALTER TABLE [dbo].[Usuario_Multimedia] CHECK CONSTRAINT [FK_Usuario_Multimedia_Multimedia]
GO
USE [master]
GO
